body {
font-family: vazir, 'Segoe UI', Tahoma, sans-serif;
}


@font-face {
  font-family: 'vazir';
  src: url('webfont.eot'); /* IE9 Compat Modes */
         url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
}
